html *
{
 font-family: Verdana !important;
}

html, body{
 width:100%;
 height:100%;
}

#map-container {
  margin: 1%;
  width:100%;
  height:70%;
  position: relative;
}

#world-map {
  top: 3%;
  margin: auto;
  width: 100%;
  height: 95%;
  position: relative;
}

#selector {
  top: 0%;
  position:absolute;
}

#time-series {
  width: 80%;
  height: 200px;
  margin: auto;
}

#rule { 
  stroke: gray;  
  fill: black;
  stroke-width: 2px;
  shape-rendering: crispEdges;
  position:absolute;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 11px;
}




.countries {
  fill: Gainsboro;
}


.boundaries {
  fill: none;
  stroke: #fff;
  stroke-linejoin: round;
  stroke-width: 0.3px;
}

.graticule {
  fill: white;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.hidden {
  display: none;
}

div.tooltipMap {
  color: #222;
  background-color: #fff;
  padding: .5em;
  border-radius: 2px;
  opacity: 0.9;
  position: absolute;
}

div.tooltipSer {
  color: gray;
  background-color: none;
  position: absolute;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 34px;
  font-size: 22px; 
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

.switch-on {
  position: absolute;
  left: 0px;
  top: 10px;
  color: #d3d3d3;
  text-align: left;}
  .switch-on:hover { color: black !important; }
  input:checked ~ .switch-on {
    color:black;
  }


  .switch-off {
    position: absolute;
    left: 80px;
    top: 10px;
    color: black;
    text-align: right;
  }
  .switch-off:hover { color: black !important; }
  input:checked ~ .switch-off {
    color:#d3d3d3;
  }


